nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100vw;
}

nav div a {
    margin: auto;
    padding: 5px;
    font-family: 'Wallpoet';
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 16px;
}

a.active {
    color: #ffa500;
    border-bottom: 2px solid var(--imperial-red);

    /* text-decoration: cadetblue; */
}


#language {
    display: flex;
    width: fit-content;
    height: max-content;
    padding-right: 5px;
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}

.nav__mark {
    position: relative;
    width: 100px;
    height: auto;
}