nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

nav div a {
    margin: auto;
    padding: 5px;
    font-family: var(--base-font);
    color: var(--primary-text-dark-gray);
    text-decoration: none;
    letter-spacing: 0.02rem;
    font-size: 15px;
    font-weight: 500;
    /* text-transform: uppercase; */
}

a.active {
    color: var(--secundary-mint-neon);
    border-bottom: 2px solid var(--moonstone);

    /* text-decoration: cadetblue; */
}


#language {
    display: flex;
    width: fit-content;
    height: max-content;
    padding-right: 5px;
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}
