.resume-div{
    border: rgb(253, 252, 252);
    border-radius: 10px;
    border-style: groove;
    border-width: 3px;
    width: 65vw;
    max-height: 350px;
    background-color: rgba(245,245,245, 0.6);
    padding: 10px;
}