.imperial-red {
    color: var(--imperial-red);
    font-size: larger;
    font-weight: 700;
}

.jade {
    color: var(--jade);
}

.orange-web {
    color: var(--orange-web);
}

.moonstone {
    color: var(--moonstone);
}

.pearl {
    color: var(--pearl);
}

.white {
    color: var(--white);
}

.whoami-superior {
    display: flex;
    /* top: 6rem; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whoami-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100vw;
    background-color: rgba(15, 76, 117, 0.76);
    padding: 20px 25px;
    /* -webkit-backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px); */
    backdrop-filter: blur(5.4px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* -webkit-backdrop-filter: blur(5.4px); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* border: 1.5px solid rgba(255, 255, 255, 0.06); */
    flex-wrap: wrap;
    align-content: start;
    background: linear-gradient(90deg, var(--dark-blue), var(--moonstone));
}

.whoami-item:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 75%;
    padding: 20px;
}

.whoami-item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    height: 75%;
    margin-top: 35px;
    padding: 45px 20px 15px 55px;
}

.whoami-item:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 5%;
    padding: 20px;
}

#sw-js-blob-svg {
    position: absolute;
    top: -65px;
    left: 0;
    width: 120%;
    height: 100%;
    -webkit-mask-image: linear-gradient(rgba(15, 76, 117, 0.563) 80%, transparent);
    mask-image: linear-gradient(rgba(15, 76, 117, 0.563) 80%, transparent);
    z-index: 1;
    /* SVG en el fondo */
}

.profile-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.profile-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.profile-picture img {
    max-width: 65%;
    height: auto;
    padding: 5px;
    /* -webkit-mask-image: linear-gradient(rgba(15, 76, 117, 0.76) 80%, transparent);
    mask-image: linear-gradient(rgba(15, 76, 117, 0.76) 80%, transparent); */
    z-index: 2;
    /* margin: 10px; */
    /* border-radius: 5px; */
    /* border-bottom-left-radius: 0%;
    border-bottom-right-radius: 5px;
    margin-right: 22px; */
    /* transform: rotate3d(0, 0, 1, 0deg); */
    /* filter:drop-shadow(2px 1px #aaa) */
}

.profile-picture-code {
    position: relative;
    left: 23%;
    transform: translate(-55%, -69%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    z-index: 1;
}

.whoami-text {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}

.whoami-quihubole {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #8080807d;
    border-radius: 45px;
    width: 28%;
    height: 35px;
    background: rgba(255, 255, 255, 0.09);
    -webkit-backdrop-filter: blur(5.4px);
    backdrop-filter: blur(5.4px);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-family: var(--text-font);
    font-size: .875rem;
    /* animation: gradient-shift 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.whoami-main-text-title h1 {
    margin: 0 auto;
    letter-spacing: -.06em;
    padding-left: 50px;
}

.whoami-main-text-title h1 span {
    font-family: var(--base-font);
    font-size: 1.8em;
    font-weight: 600;
    color: var(--white);
}

.color-shift {
    background: linear-gradient(90deg, var(--moonstone), var(--secundary-mint-neon), var(--electric-blue));
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 4s linear infinite;
}

.color-shift-reverse {
    background: linear-gradient(90deg, var(--electric-blue), var(--moonstone), var(--secundary-mint-neon));
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 6s linear infinite;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.profile-interactive-text {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 100px; */
    width: 100%;
}

.typewriter {
    max-width: fit-content;
}

.whoami-container .typewriter h1 {
    width: fit-content;
    text-align: left;
    /* padding-top: 20px; */
    padding-left: 100px;
    font-family: 'The Nautigal';
    font-size: 65px;
    font-weight: 800;
    color: var(--secundary-mint-neon);
    overflow: hidden;
    border-right: .13em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: -.01em;
    animation:
        typing 3.5s steps(28, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--secundary-mint-neon)
    }
}

.fullstack {
    display: flex;
    justify-content: center;
    margin-left: 28px;
    margin-right: 200px;
    padding: 5px;
    width: 60%;
    height: 65px;
    border-radius: 16px;


    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.whoami-container .fullstack h2 {
    font-family: var(--base-font);
    font-size: 32px;
    font-weight: 800;
    color: #FFF;
    margin-top: 3px;
    text-align: center;
    max-width: fit-content;
    overflow: hidden;
    border-right: .15em solid var(--secundary-mint-neon);
    white-space: nowrap;
    margin: 0 auto;
    padding: 5px;
    letter-spacing: -.03em;
    animation:
        3.5s typing-fullstack 0.2s steps(27, end),
        blink-caret-full .8s step-end infinite;
}

@keyframes typing-fullstack {
    0% {
        width: 0;
        opacity: 0;
    }

    25% {
        opacity: 0.5;
        width: 25%;
    }

    50% {
        width: 50%;
        opacity: 0.75;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes blink-caret-full {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--secundary-mint-neon)
    }
}

.whoami-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem !important;
    font-size: large;
}


.profile-resume {
    display: flex;
    align-items: start;
    text-align: left;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    letter-spacing: 0.04rem;
}

.resume-slighly {
    display: flex;
    padding-top: 20px;
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.035rem;
    text-align: left;
    color: var(--electric-blue);
    width: 75%;
    background-color: var(--primary-dark);
}


@keyframes profile-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

.profile-picture {
    display: contents;
    overflow: hidden;
    animation:
        3.5s image-appear 6.7s steps(27, end);
    transition: .5s ease-in;
}



@keyframes image-appear {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 100%;
    }
}

.profile-blocks-appear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-blocks-appear li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 3;
}

.profile-blocks-appear li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.profile-blocks-appear li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.profile-blocks-appear li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.profile-blocks-appear li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.profile-blocks-appear li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.profile-blocks-appear li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.profile-blocks-appear li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}