.imperial-red {
    color: var(--imperial-red);
}

.jade {
    color: var(--jade);
}

.orange-web {
    color: var(--orange-web);
}

.moonstone {
    color: var(--moonstone);
}

.pearl {
    color: var(--pearl);
}

.white {
    color: var(--white);
}

img {
    max-width: 30%;
    height: auto;
    margin: 10px;
    border-bottom: 1px solid var(--jade);
    border-right: 1px solid var(--imperial-red);
    /* border-radius: 5px; */
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 5px;
    margin-right: 22px;
    padding: 5px;
    transform: rotate3d(0, 0, 1, 36deg);
    /* filter:drop-shadow(2px 1px #aaa) */
    /* mask-image: linear-gradient(Black 80%, transparent); */
}


.whoami-superior {
    display: flex;
    top: 6rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whoami_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border-top: 3px groove var(--jade);
    border-right: 3px groove var(--moonstone);
    border-left: 3px groove var(--orange-web);
    border-bottom: 3px groove var(--imperial-red); */

    border-radius: 25px;
    min-height: 90vh;
    width: 83vw;
    /* background-color: rgba(255, 255, 255, 0.95); */
    padding: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1.5px solid rgba(209, 213, 219, 0.3); */
}

.header_whoami p {
    font-family: 'Rubik 80s Fade';
    text-decoration-line: underline overline;
    font-size: 25px;
    height: 10px;
    margin-top: 5px;
}

.typewriter {
    max-width: fit-content;
}
.whoami_container .typewriter h1 {
    width: fit-content;
    text-align: left;
    /* padding-top: 20px; */
    padding-left: 100px;
    font-family: 'Montserrat, sans-serif';
    font-size: 35px;
    font-weight: 800;
    color: var(--orange-web);
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .13em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: -.01em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(28, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.fullstack {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-right: 200px;
}

.whoami_container .fullstack h2 {
    font-family: 'Montserrat, sans-serif';
    font-size: 72px;
    font-weight: 800;
    color: #FFF;
    margin-top: 3px;
    text-align: center;
    max-width: fit-content;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 165, 0);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: -.03em;
    /* Adjust as needed */
    animation:
        3.5s typing-fullstack 4.7s steps(27, end),
        blink-caret-full .5s step-end infinite;
}

@keyframes typing-fullstack {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret-full {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.whoami-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem !important;
    /* padding-bottom: .75rem !important; */
    /* border: none; */
    font-size: large;
}

.profile-main-picture {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 55vh;
}

.profile-resume {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    text-align: left;
    font-family: 'Montserrat, sans-serif';
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    margin: -15px;
    letter-spacing: 0.04rem;
    /* padding-left: 125px; */
}

.resume-slighly {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* flex-direction: column; */
    padding-left: 100px;
}

.slighly-left {
    padding-left: 10px;
}

.slighly-right {
    padding-left: 10px;
}

@keyframes profile-text {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

.profile-picture {
    /* bottom: 0;
    left: 0;
    right: 0;
    height: 0; */
    display: contents;
    overflow: hidden;
    animation:
        3.5s image-appear 6.7s steps(27, end);
    transition: .5s ease-in;
}



@keyframes image-appear {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 100%;
    }
}