@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet');

.whoami-superior {
    display: flex;
    top: 6rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whoami_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(253, 252, 252);
    border-radius: 10px;
    height: 200px;
    width: 65vw;
    background-color: rgba(245, 245, 245, 0.6);
    padding: 10px;
}

.header_whoami p {
    font-family: 'Rubik 80s Fade';
    text-decoration-line: underline overline;
    font-size: 25px;
    height: 10px;
    margin-top: 5px;
}

.whoami_container .typewriter h1 {
    font-family: 'Wallpoet';
    font-size: 60px;
    font-weight: lighter;
    color: ghostwhite;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .03em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.fullstack {
    display: flex;
    justify-content: center;
}

.fullstack h2 {
    font-family: 'Wallpoet';
    font-size: 25px;
    color: azure;
    margin-top: 3px;
    text-align: center;
    max-width: fit-content;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 165, 0);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .03em;
    /* Adjust as needed */
    animation:
        2.5s typing-fullstack 3.5s steps(27, end),
        blink-caret-full .5s step-end infinite;
}

@keyframes typing-fullstack {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret-full {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.whoami_icons {
    display: flex;
    justify-content: space-between;
    width: 370px;
    max-width: 375px;
    margin: 8px;
    align-self: center;
}

.linkedin,
.github,
.whatsapp,
.number,
.telegram,
.email,
.twitter {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: orange;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(245, 245, 245, 0.6);
    width: 50px;
    height: 50px;
}

/* :is(.linkedin, .github, .whatsapp, .number, .telegram, .email) :hover{
    border-style: dotted;
} */
.linkedin:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

.github:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

.whatsapp:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

.number:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

.telegram:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
    /* animation-duration: 2s; */
}

.email:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

.twitter:hover {
    border-color: azure;
    background-color: rgba(101, 101, 114, 0.516);
    animation: change 1.25s;
}

@keyframes change {
    from {
        background-color: rgb(255, 165, 0);
    }

    to {
        background-color: rgba(101, 101, 114, 0.516);
    }
}

.whoami-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem !important;
    padding-bottom: .75rem !important;
    border: none;
    font-size: large;
}