.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 5.5rem;
  min-width: 100vw;
  text-align: center;
  background: linear-gradient(30deg, var(--primary-black), var(--dark-blue));
}

.skills-container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
  padding: 5%;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 1rem;
  -webkit-backdrop-filter: blur(5.4px);
  backdrop-filter: blur(5.4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: solid 1px #8080807d;
  font-family: var(--text-font);
  padding: 1.2rem;
}

.icon-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

strong {
  z-index: 2;
  font-family: var(--text-font);
  font-size: 16px;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: 0 0 2px white;
}


.btn:hover {
  border-radius: 1rem;
  border: solid 1px #8080807d;
  transform: rotate(7deg);
}

.btn:hover img {
  transform: scale(1.3);
}

.btn:hover span{
  background: linear-gradient(90deg, var(--imperial-red), var(--secundary-mint-neon));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 0.3s ease;
} 
