
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=The+Nautigal:wght@400;700&family=Orbitron:wght@400;500;700&display=swap');



:root {
  /* CSS HEX */
  --primay-black: #0A0A0A;
  --secundary-mint-neon: #4ECCA3;
  --moonstone: #2b9eb3ff;
  --imperial-red: #f8333cff;
  --primary-text-dark-gray: #EEE;
  --secundary-text-white: #fff;
  --electric-blue: #66B2FF;
  --jade: #44af69ff;
  --orange-web: #fcab10ff;
  --pearl: #dbd5b5ff;
  --dark-blue: #0f4c75;
  --base-font: 'Doppio One', sans-serif;
  --title-font: 'The Nautigal', cursive;
  --text-font: 'Roboto Condensed', sans-serif;
  --button-font: 'Orbitron', sans-serif;
}



html {
  scroll-behavior: smooth;
}

section {
  max-height: 92vh;
}

.sticky {
  /* background-color: rgba(43, 40, 40, 0.84); */
  background: rgba(255, 255, 255, 0.19);
  border-bottom: 1px solid var(--secundary-mint-neon);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px); 
  /*
    border-radius: 16px;*/
}

.App-header {
  min-height: 7vh;
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 6px;
  z-index: 1;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white var(--secundary-mint-neon);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  /* border: 3px solid orange; */
}