

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sticky{
  background-color: rgba(43, 40, 40, 0.84);
  border-bottom: 1px solid orange;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 7vh;
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 6px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  /* border: 3px solid orange; */
}
