@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


:root {
  /* CSS HEX */
  --jade: #44af69ff;
  --imperial-red: #f8333cff;
  --orange-web: #fcab10ff;
  --moonstone: #2b9eb3ff;
  --pearl: #dbd5b5ff;
  --white: #fff;
}



html {
  scroll-behavior: smooth;
}

section {
  min-height: 92vh;
}

.sticky {
  background-color: rgba(43, 40, 40, 0.84);
  border-bottom: 1px solid orange;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 7vh;
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 6px;
  z-index: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  /* border: 3px solid orange; */
}